<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ajouter un étudiant</title>
</head>
<body>

<h3>Ajouter un étudiant</h3>

<form method="POST" action="/auth">
    Nom<br>
    <input type="text" name="nom" required><br><br>

    Adresse<br>
    <textarea name="addr" rows="3" cols="30"></textarea><br><br>

    PINCODE<br>
    <input type="text" name="pin"/><br><br>

    Mot de passe pour valider l'ajout<br>
    <input type="password" name="password" required><br><br>

    <input type="submit" value="Ajouter l'étudiant"/>
</form>

</body>
</html>
